@page "/"
@inherits BasePageComponent

<PageTitle>MyCompany - Home</PageTitle>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="display-4 fw-bold mb-4">Success IT company<br />from Ukraine<br /></h1>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet consectetur adipiscing elit dolor posuere vel vermatis sus massa volutpat massa odio feugiat tellus, elit massa sed.</p>
            <div class="d-flex gap-3 mb-5">
                <button class="btn px-4" style="background-color: #18936F; color: white;">Get started</button>
                <button class="btn btn-outline-secondary px-4">Learn more</button>
            </div>
            <div>
                <p class="text-muted mb-3">Trusted by teams around the world</p>
                <div class="d-flex gap-4 text-muted align-items-center">
                    <span><i class="fab fa-google"></i> Google</span>
                    <span><i class="fab fa-facebook"></i> Facebook</span>
                    <span><i class="fab fa-youtube"></i> YouTube</span>
                    <span><i class="fab fa-pinterest"></i> Pinterest</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="images/our-team.jpg" alt="Our team" class="img-fluid rounded shadow" />
        </div>
    </div>
</div>