<li class="nav-item">
    <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">Home</NavLink>
</li>
<li class="nav-item">
    <NavLink class="nav-link text-white" href="blog">Blog</NavLink>
</li>
