<nav class="navbar navbar-expand-lg" style="background-color: #18936F;">
    <div class="container">
        <a class="navbar-brand text-white" href="">MyCompany</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="blog">Blog</NavLink>
                </li>
            </ul>
            <NavLink href="contact" class="btn" style="background-color: #F9A826; color: white;">Contact Us</NavLink>
        </div>
    </div>
</nav>
